<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ObackOffice</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <link href="~/fontawesome/css/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{
        var Organizations = ViewBag.USER.Organizations;
    }
    <style>
        .first-modal {
            z-index: 999999999999999;
            position: fixed;
            top: 0;
            width: 100% !important;
            height: 100% !important;
            left: 0;
            background-color: rgba(0,0,0,0.5);
            opacity:0;
        }

        .first-footer-info {
            background-color: #00a7d0;
            height: 60px;
           
        }

        .first-modal-info {
            padding: 20px;
 
            background-color: #00c0ef;
            height: calc(100% - 60px);
        }

        .first-btn-modal {
            border: 1px solid white;
            background-color: rgba(0, 0, 0,0);
            color: white;
            height: 35px;
            font-size: 1.2rem;
            margin: 10px 10px 10px 10px;
            font-family: 'Open Sans', sans-serif;
            border-radius: 2px !important;
            width: 70px !important;
        }
        .first-btn-modal:hover {
            border: 1px solid white;
            background-color: rgba(0, 0, 0,0.1);
            color: white;
            height: 35px;
            font-size: 1.2rem;
            margin: 10px 10px 10px 10px;
            font-family: 'Open Sans', sans-serif;
            border-radius: 2px !important;
            width: 70px !important;
        }

        .container-first-modal {
            overflow: hidden;
            max-width: 640px !important;
            height: 50% !important;
            transform: scale(0.4);
            min-height: 410px !important;
            border-radius: 8px 8px 8px 8px
        }
        .scale {
            transition: transform 1s ;
            transform: scale(1)
        }
        .name-user {
            color: white;
            font-weight: bolder;
            font-size: 1.3rem;
        }

        .welcome-user {
            color: white;
            font-size: 1.1rem;
        }
        .justify{
            text-align: justify !important
        }
    </style>
</head>

<body>


    @Html.Partial("_HeaderPartial")

    <div id="wrapper">
        @Html.Partial("_SideBarPartial")

        <main class="col contenido px-0 mx-0">
            <div class="col contenido2" style="padding-right:0px;">
                @RenderBody()
            </div>
        </main>

        <footer class=" d-flex justify-content-between">
            <div class="d-none d-md-block">
                <strong>Copyright &copy; @DateTime.Now.Year <a href="#"></a>OmegNet</strong>
            </div>
            <div>
                <span> <a href="#" target="_blank">Version 0.0.1</a></span>
            </div>
        </footer>
    </div>
    <script>
        window.url_base = '@Url.Content("~/")';
        window.session_timeout =  @(Session.Timeout * 60 * 1000); //milliseconds

        var IDtemporizador = window.setInterval(function()
        {
            window.session_timeout -= 1000;
            if(window.session_timeout <= 0)
                window.location.href = '@Url.Content("~/adios")';
        }, 1000);
    </script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/fullcalendar")


    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)
    @*<script src="/Scripts/bootstrap-treeview.js"></script>*@



    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/fullcalendar.js"></script>
    <script src="~/Scripts/locale/es.js"></script>
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/css/FullCalendar-custom.css" rel="stylesheet" />

    <script>
       FirstModal();

        $(document).ready(function () {
            $(".first-modal").animate({
                opacity: 1,
            }, 200, scale());
            var organizationId = $("#first-select").val() == undefined ? $("#cbo-organization").val() : $("#first-select").val();
            
            SetComboAlmacen(organizationId); 

            $("#first-select").on("change", function () {
                let organizationId = $(this).val();
                SetComboAlmacen(organizationId);
            });
            
        })

        function SetComboAlmacen(organizationId) {
            $.ajax({
                cache: false,
                method: 'GET',
                dataType: 'json',
                data: { 'organizationId': organizationId },
                url: '/PatientsAssistance/GetWarehouses',
                success: function (json) {

                    var html = `<option value="-1">--Seleccionar--</option>`;
                    for (var i = 0; i < json.length; i++) {
                        html += `<option value="${json[i].WareHouseId}">${json[i].Name}</option>`;
                    }
                    $("#cbo-organizationWarehouse").html(html);
                    var value = sessionStorage.getItem("warehouseId");
                    $("#cbo-organizationWarehouse").val(value);
                    $("#second-select").html(html);

                    $("#second-select").on("change", function () {
                        sessionStorage.setItem("warehouseId", $(this).val());
                    });
                    $("#cbo-organizationWarehouse").on("change", function () {
                        sessionStorage.setItem("warehouseId", $(this).val());
                    });
                },
                error: function (error) {
                    console.log('ERROR:', error);
                }
            })
        }

        function scale() {
            $(".container-first-modal").addClass("scale");
        }

        function dropdown() {
            $(".js-dropdown-menu").toggleClass("activo");

            if ($(".js-dropdown-menu").hasClass("activo")) {
                $(".js-dropdown-menu").stop().animate({
                    height: "40px"
                }, 300);
            } else {
                $(".js-dropdown-menu").stop().animate({
                    height: "0px"
                }, 300);
            }
        }

        function CloseFirstModal() {
            $(".first-modal").remove();
            sessionStorage.setItem("organizationId", $("#cbo-organization").val());
            sessionStorage.setItem("warehouseId", $("#cbo-organizationWarehouse").val());
            sessionStorage.setItem("warehouseId", "-1");
            var value = sessionStorage.getItem("warehouseId");
            console.log(value);
            $("#cbo-organizationWarehouse").val(value);
        }

        function AceptarFirstModal() {
            var select = $("#first-select");
            var second_select = $("#second-select");
            if (select.val() != $("#cbo-organization").val()) {
                var id = select.val();
                sessionStorage.setItem("organizationId", id);
                $("#cbo-organization").val(select.val()).trigger("change");
                $(".first-modal").remove();
            } else {
                sessionStorage.setItem("organizationId", select.val());
                $(".first-modal").remove();
            };

            if (second_select.val() != $("#cbo-organizationWarehouse").val()) {
                var id = second_select.val();
                sessionStorage.setItem("warehouseId", id);
                $("#cbo-organizationWarehouse").val(second_select.val()).trigger("change");
                $(".first-modal").remove();
            } else {
                sessionStorage.setItem("warehouseId", second_select.val());
                $(".first-modal").remove();
            }
        }

        function FirstModal() {
            var session = sessionStorage.getItem("organizationId");
            if (session == "" || session == undefined || session == null) {
                var html = `

                            <section class="first-modal d-flex justify-content-center align-items-center">
                                <div class="row container-first-modal effect1">
                                    <div class="col-12 ">
                                        <header class="row first-modal-info justify-content-center align-items-center">
                                            <div class="col-9 col-sm-5">
                                                <div class="col-12 text-center welcome-user">
                                                    <div class="row">

                                                        <h5>¡ @ViewBag.USER.FullName !</h5>
                                                        <p class="text-justify">Bienvenido a OMEGAVIGILANCIA.COM, por favor seleccione una empresa y un almacén.</p>
                                                          
                                                    </div>
                                                    <div class="row">
                                                        <label>Empresa:</label>
                                                        <select class="custom-select" id="first-select">
                                                        @{
                                                            foreach (var item in Organizations)
                                                            {
                                                                <option value="@item.OrganizationId">@item.Name</option>
                                                            }
                                                        }
                                                        </select>
                                                    </div>
                                                    <div class="row mt-2">
                                                        <label>Almacén:</label>
                                                        <select class="custom-select" id="second-select">
                                                            <option value="-1">--Seleccionar--</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </header>
                                        <article class="row justify-content-center first-footer-info">
                                            <div class="col-12 d-flex justify-content-between">
                                                <button onclick="CloseFirstModal()" class="btn first-btn-modal"><i class="fas fa-times"></i></button>
                                                <button onclick="AceptarFirstModal()" class="btn first-btn-modal"><i class="fas fa-arrow-right"></i></button>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </section>

                            `;

                $(html).appendTo($("body"));
            }
        }
    </script>
</body>
</html>
