<div class="Chart mx-0">
    <div class="box box-info mb-0" style="cursor:pointer" onclick="ResizeTable('Div_MedicalDiseases')" id="acordion">
        <div class="box-header with-border" id="heading1">
            <h3 class="box-title" style="cursor:pointer;"><i class="icon-list-numbered"></i> Diagnósticos</h3>
        </div>
    </div>
    <input id="heightDiv_MedicalDiseases" type="hidden" value="">
    <div class="row m-0 p-0 py-3" id="Div_MedicalDiseases">
        <div class="col-12 col-md-10 px-md-0">
            <div class="">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th class="d-none">DiseaseId</th>
                            <th>Diagnóstico</th>
                            <th>Componente</th>
                            <th>CIE10</th>
                            <th class="d-none">RecordStatus</th>
                            <th class="d-none">RecordType</th>
                        </tr>
                    </thead>
                    <tbody id="diagnosticos">
                        @{

                            if (ViewBag.Results == null)
                            {
                                <tr id="tdError" class="sin-resultados"><td colspan="7" class="text-center">Error al conectarse al servidor</td></tr>
                            }
                            else if (ViewBag.Results.Count == 0)
                            {
                                <tr id="tdError" class="sin-resultados"><td colspan="7" class="text-center ">No hay resultados</td></tr>
                            }
                            else
                            {
                                var Results = ViewBag.Results;

                                for (var item = 0; item < Results.Count; item++)
                                {

                                    <tr onclick="RowClick('diagnosticos', this)" class="bd-data" id="@Results[item].DiseaseId" data-diseasesid="@Results[item].DiseaseId" data-diagnostic-repository="@Results[item].DiagnosticRepositoryId">
                                        <td class="d-none"><input  type="text"  value="@Results[item].DiseaseId" /></td>
                                        <td><input class="form-control form-control-sm"  autocomplete="off" type="text" onkeyup="AutocompleteDisease(event, this)" id="DS-@Results[item].DiseaseId" value="@Results[item].DiseaseName" style="width: 330px !important; border-radius: 0.3rem !important" disabled /></td>
                                        <td>
                                            <input type="hidden" class="componentid-for-select" value="@Results[item].ComponentId" />
                                            <div class="cont-dinamic-select border-danger contenedor-select-@item">
                                                <div id="select-category" onclick="selectCategory(this)" class="disabled border-danger row m-0 px-3 justify-content-between align-items-center drop-down-cont">
                                                    <label class="m-0 lbl-category" style="overflow:hidden; max-height:17px">--SELECCIONAR--</label><i class="fas fa-sort-down"></i>
                                                </div>
                                            </div>
                                        </td> 
                                        <td><input class="form-control form-control-sm" type="text" value="@Results[item].Cie10" style="width: 230px !important; border-radius: 0.3rem !important" disabled /></td>
                                        <td class="d-none"><input type="text" value="@Results[item].RecordStatus" /></td>
                                        <td class="d-none"><input type="text" value="@Results[item].RecordType" /></td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>

            </div>
        </div>
        <div style="border-left: 1px solid rgba(128, 128, 128,0.4) " class="px-0 col-12 col-md-2">
            <div class="row w-100 justify-content-center p-0 mb-2 mx-0">
                <button class="btn w-75 btn-nuevo" onclick="NewDiagnostic('diagnosticos')">Nuevo Dx</button>
            </div>
            <div class="row w-100 justify-content-center p-0 mb-2 mx-0">
                <button class="btn w-75 btn-editar" onclick="EditDiagnostico('diagnosticos')">Editar Dx</button>
            </div>
            <div class="row w-100 justify-content-center p-0 mx-0">
                <button class="btn w-75 btn-eliminar" onclick="EliminarDiagnostico('diagnosticos')">Eliminar</button>
            </div>
        </div>
    </div>


</div>
<div class="Chart mx-0 mt-3">
    <div class="box box-info mb-0" onclick="ResizeTable('Div_MedicalRecommendations')" style="cursor:pointer" id="acordion">
        <div class="box-header with-border" id="heading1">
            <h3 class="box-title" style="cursor:pointer;"><i class="icon-list-numbered"></i> Recomendaciones</h3>
        </div>
    </div>
    <input id="heightDiv_MedicalRecommendations" type="hidden" value="">
    <div class="row m-0 p-0  py-3" id="Div_MedicalRecommendations" style="overflow: hidden">
        <div class="col-12 col-md-10 px-md-0">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th class="d-none">RecommendationId</th>
                            <th>Recomendaciones</th>
                            <th>Diagnóstico</th>
                            <th class="d-none">RecordStatus</th>
                            <th class="d-none">RecordType</th>
                        </tr>
                    </thead>
                    <tbody id="dx-recomendaciones">
                        @{

                            if (ViewBag.Results == null)
                            {
                                <tr id="tdError" class="sin-resultados"><td colspan="7" class="text-center">Error al conectarse al servidor</td></tr>
                            }
                            else if (ViewBag.Results.Count == 0)
                            {
                                <tr id="tdError" class="sin-resultados"><td colspan="7" class="text-center">No hay resultados</td></tr>
                            }
                            else
                            {

                                var Results = ViewBag.Results;
                                var Rows = 0;
                                for (var i = 0; i < Results.Count; i++)
                                {
                                    if (Results[i].Recommendations.Count != 0)
                                    {
                                        var Recomendaciones = Results[i].Recommendations;

                                        for (int x = 0; x < Recomendaciones.Count; x++)
                                        {
                                            <tr onclick="RowClick('dx-recomendaciones', this )" class="@Recomendaciones[x].DiseaseId" id="@Recomendaciones[x].RecommendationId" data-master-id="@Recomendaciones[x].MasterRecommendationId">
                                                <td class="d-none"><input type="text" id="RS-RM-@Recomendaciones[x].RecommendationId" value="@Recomendaciones[x].RecommendationId" /></td>
                                                <td><textarea onkeyup="AutocompleteRestricRecomen(event, this)" data-tipo="1" class="form-control form-control-sm" type="text" style="width: 330px !important; max-height: 50px !important; border-radius: 0.3rem !important" disabled>@Recomendaciones[x].RecommendationName</textarea> </td>
                                                <td>
                                                    <select class="form-control set-combo custom-select js-@Recomendaciones[x].DiseaseId" onchange="selectDiasease(this)" id="select-dx-recomendaciones-@Recomendaciones[x].RecommendationId" style="position: relative !important; width: 230px !important; border-radius: 0.3rem !important" disabled>
                                                        <option value="@Recomendaciones[x].DiseaseId">@Recomendaciones[x].DiseaseName</option>
                                                    </select>
                                                </td>
                                                <td class="d-none"><input type="text" value="@Recomendaciones[x].RecordStatus" /></td>
                                                <td class="d-none"><input type="text" value="@Recomendaciones[x].RecordType" /></td>
                                            </tr>
                                        }
                                        Rows++;
                                    }


                                }
                                if (Rows == 0)
                                {
                                    <tr id="sin-recomendaciones" class="sin-resultados"><td colspan="7" class="text-center">No hay resultados</td></tr>
                                }
                            }
                        }
                    </tbody>
                </table>

            </div>
        </div>
        <div style="border-left: 1px solid rgba(128, 128, 128, 0.4) " class="px-0 col-12 col-md-2">
            <div class="row w-100 justify-content-center p-0 mb-2 mx-0">
                <button class="btn w-75 btn-nuevo" onclick="NewRestricRecomen('dx-recomendaciones')">Nueva Recomen.</button>
            </div>
            @*<div class="row w-100 justify-content-center p-0 mb-2 mx-0">
                <button class="btn w-75 btn-editar" onclick="EditRecomenRestric('dx-recomendaciones')">Editar Recomen.</button>
            </div>*@
            <div class="row w-100 justify-content-center p-0 m-0">
                <button class="btn w-75 btn-eliminar" onclick="EliminarRecomenRestric('dx-recomendaciones')">Eliminar</button>
            </div>
        </div>
    </div>

</div>
<div class="Chart mx-0 mt-3">
    <div class="box box-info mb-0" onclick="ResizeTable('Div_MedicalRestrictions')" style="cursor:pointer" id="acordion">
        <div class="box-header with-border" id="heading1">
            <h3 class="box-title" style="cursor:pointer;"><i class="icon-list-numbered"></i> Restricciones</h3>
        </div>
    </div>
    <input id="heightDiv_MedicalRestrictions" type="hidden" value="">
    <div class="row m-0 p-0  py-3" id="Div_MedicalRestrictions" style="overflow: hidden">
        <div class="col-12 col-md-10 px-md-0">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th class="d-none">RestrictionId</th>
                            <th>Restricciones</th>
                            <th>Diagnóstico</th>
                            <th class="d-none">RecordStatus</th>
                            <th class="d-none">RecordType</th>
                        </tr>
                    </thead>
                    <tbody id="dx-restricciones">
                        @{

                            if (ViewBag.Results == null)
                            {
                                <tr id="tdError" class="sin-resultados"><td colspan="7" class="text-center">Error al conectarse al servidor</td></tr>
                            }
                            else if (ViewBag.Results.Count == 0)
                            {
                                <tr id="tdError" class="sin-resultados"><td colspan="7" class="text-center">No hay resultados</td></tr>
                            }
                            else
                            {
                                var Results = ViewBag.Results;
                                var Rows = 0;
                                for (var i = 0; i < Results.Count; i++)
                                {
                                    if (Results[i].Restrictions.Count != 0)
                                    {
                                        var Restricciones = Results[i].Restrictions;
                                        for (int x = 0; x < Restricciones.Count; x++)
                                        {
                                            <tr onclick="RowClick('dx-restricciones', this )" class="@Restricciones[x].DiseaseId" id="@Restricciones[x].RestrictionId" data-master-id="@Restricciones[x].RestrictionId">
                                                <td class="d-none"><input type="text" value="@Restricciones[x].RestrictionId" /></td>
                                                <td><textarea rows="3" onkeyup="AutocompleteRestricRecomen(event, this)" data-tipo="2" class="form-control form-control-sm" type="text" style="width: 330px !important;  max-height: 50px !important; border-radius: 0.3rem !important" disabled>@Restricciones[x].RestrictionName</textarea></td>
                                                <td>
                                                    <select class="form-control set-combo custom-select js-@Restricciones[x].DiseaseId"  onchange="selectDiasease(this)"  id="select-dx-restricciones-@Restricciones[x].RestrictionId" style="width: 230px !important; position: relative !important; border-radius: 0.3rem !important" disabled>
                                                        <option value="@Restricciones[x].DiseaseId">@Restricciones[x].DiseaseName</option>
                                                    </select>
                                                </td>
                                                <td class="d-none"><input type="text" value="@Restricciones[x].RecordStatus" /></td>
                                                <td class="d-none"><input type="text" value="@Restricciones[x].RecordType" /></td>
                                            </tr>
                                        }
                                        Rows++;
                                    }

                                }
                                if (Rows == 0)
                                {
                                    <tr id="sin-restricciones" class="sin-resultados"><td colspan="7" class="text-center">No hay resultados</td></tr>
                                }
                            }
                        }
                    </tbody>
                </table>

            </div>
        </div>
        <div style="border-left: 1px solid rgba(128, 128, 128,0.4) " class="px-0 col-12 col-md-2">
            <div class="row w-100 justify-content-center p-0 mb-2 mx-0">
                <button class="btn w-75 btn-nuevo" onclick="NewRestricRecomen('dx-restricciones')">Nueva Restric.</button>
            </div>
            @*<div class="row w-100 justify-content-center p-0 mb-2 mx-0">
                <button class="btn w-75 btn-editar" onclick="EditRecomenRestric('dx-restricciones')">Editar Restric</button>
            </div>*@
            <div class="row w-100 justify-content-center p-0 m-0">
                <button class="btn w-75 btn-eliminar" onclick="EliminarRecomenRestric('dx-restricciones')">Eliminar</button>
            </div>
        </div>
    </div>
    
</div>
<div class="row w-100 mx-0 mt-2 justify-content-end">
    <div class="col-12 p-0 col-md-2">
        <button class="btn w-100 btn-info infobtn" onclick="SaveResult()">Guardar</button>
    </div>
</div>


