

<div class="containerDinamic w-100 p-0">

    <div class="row m-0 p-0 justify-content-between ">
        <button style="height:56px;" onclick="buttonDinamicNav()" class="btn w-100 btn-info d-xl-none">Ver Examenes<i id="iconDinamicNavBars" class=" ml-4 fas fa-bars"></i></button>
        <nav class="col-12 col-xl-2 p-0 navDinamic">

            <ul id="ulDinamic" class="js-tab-content mt-1 mt-xl-4 mr-xl-1"></ul>
            <ul id="pestanias-adicionales" class="mt-1 mt-xl-4 mr-xl-1">
                <li class="text-center">
                    <a href="#list-integral" onclick="$(this).parent().parent().find('.active').removeClass('active'); $(this).addClass('active')" data-toggle="modal" data-target="#modalIntegral" class="list-group-item list-group-item-action" id="list-integral-list">Formato de Atx Integral</a>
                </li>
                <li class="text-center">
                    <a href="#list-antecedentes" onclick="$(this).parent().parent().find('.active').removeClass('active'); $(this).addClass('active')" class="list-group-item list-group-item-action" id="list-antecedentes-list" data-toggle="modal" data-target="#modalGenerales">Datos generales y antecedentes</a>
                </li>
                <li class="text-center">
                    <a href="#list-preventivos" onclick="$(this).parent().parent().find('.active').removeClass('active'); $(this).addClass('active')" data-toggle="modal" data-target="#modalPreventivos" class="list-group-item list-group-item-action" id="list-preventivos-list">Cuidados Preventivos</a>
                </li>
            </ul>
        </nav>
        <div id="contAlert" class="mt-5 mx-0">

        </div>
        <div class="col-12 col-xl-10 p-0 m-0" id="contExamenes">
            <div class="tab-content" id="nav-tabContent">
                <div class="px-1 tab-pane j-tabPane-examen fade w-100 mx-0" id="list-integral" role="tabpanel" aria-labelledby="list-integral-list">

                </div>
                <div class="px-1 tab-pane j-tabPane-examen fade w-100 mx-0" id="list-antecedentes" role="tabpanel" aria-labelledby="list-antecedentes-list">Datos generales y antecedentes</div>
                <div class="px-1 tab-pane j-tabPane-examen fade w-100 mx-0" id="list-preventivos" role="tabpanel" aria-labelledby="list-preventivos-list">

                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalGenerales" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row w-100 mx-0">
                    <div class="col-12 mt-2">
                        <div class="group-box">
                            <label class="label-group-box small">Datos Personales</label>
                            <div class="row w-100 mx-0">
                                <div class="col-12 col-lg-3">
                                    <label class="small">Ape. Paterno</label>
                                    <input disabled type="text" class="form-control form-control-sm" value="@ViewBag.Pacient.v_FirstLastName" />
                                </div>
                                <div class="col-12 col-lg-3">
                                    <label class="small">Ape. Materno</label>
                                    <input disabled type="text" class="form-control form-control-sm" value="@ViewBag.Pacient.v_SecondLastName" />
                                </div>
                                <div class="col-12 col-lg-3">
                                    <label class="small">Nombres</label>
                                    <input disabled type="text" class="form-control form-control-sm" value="@ViewBag.Pacient.v_FirstName" />
                                </div>
                                <div class="col-12 col-lg-2">
                                    <label class="small">Género</label>
                                    <select disabled class="custom-select custom-select-sm">
                                        <option disabled value="-1">--Seleccionar--</option>
                                        @foreach (var G in ViewBag.Genero)
                                        {
                                            <option value="@G.Id" @(G.Id == ViewBag.Pacient.i_SexTypeId.ToString() ? "selected" : "")>@G.Value</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-12 col-lg-1">
                                    <label class="small">Edad</label>
                                    <input disabled type="text" class="form-control form-control-sm" value="@ViewBag.Pacient.i_Edad" />
                                </div>
                                <div class="col-12 col-lg-3">
                                    <label class="small">Fecha Nacimiento</label>
                                    <input type="text" disabled class="form-control form-control-sm" value="@ViewBag.Pacient.d_Birthdate.ToShortDateString()" />
                                </div>
                                <div class="col-12 col-lg-3">
                                    <label class="small">Lugar Nac.</label>
                                    <input type="text" disabled class="form-control form-control-sm" value="@ViewBag.Pacient.i_DepartmentId" />
                                </div>
                                <div class="col-12 col-lg-3">
                                    <label class="small">Procedencia</label>
                                    <input type="text" disabled class="form-control form-control-sm" value="@ViewBag.Pacient.v_Procedencia" />
                                </div>
                                <div class="col-12 col-lg-1">
                                    <label class="small">Gr.</label>
                                    <select disabled class="custom-select custom-select-sm">
                                        <option value="-1">--Seleccionar--</option>
                                        @foreach (var G in ViewBag.GrupoSanguineo)
                                        {
                                            <option value="@G.Id" @(G.Id == ViewBag.Pacient.i_BloodGroupId.ToString() ? "selected" : "")>@G.Value</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-12 col-lg-2">
                                    <label class="small">Factor Sanguineo</label>
                                    <select disabled class="custom-select custom-select-sm">
                                        <option value="-1">--Seleccionar--</option>
                                        @foreach (var G in ViewBag.FactorSanguineo)
                                        {
                                            <option value="@G.Id" @(G.Id == ViewBag.Pacient.i_BloodFactorId.ToString() ? "selected" : "")>@G.Value</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <label class="small">Grado Instrucción</label>
                                    <select disabled class="custom-select custom-select-sm">
                                        <option value="-1">--Seleccionar--</option>
                                        @foreach (var G in ViewBag.GradoInstruccion)
                                        {
                                            <option value="@G.Id" @(G.Id == ViewBag.Pacient.i_LevelOfId.ToString() ? "selected" : "")>@G.Value</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <label class="small">Estado Civil</label>
                                    <select disabled class="custom-select custom-select-sm">
                                        <option value="-1">--Seleccionar--</option>
                                        @foreach (var G in ViewBag.EstadoCivil)
                                        {
                                            <option value="@G.Id" @(G.Id == ViewBag.Pacient.i_MaritalStatusId.ToString() ? "selected" : "")>@G.Value</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <label class="small">Ocupación</label>
                                    <input disabled type="text" class="form-control form-control-sm" value="@ViewBag.Pacient.v_CurrentOccupation" />
                                </div>
                                <div class="col-12 col-lg-3">
                                    <label class="small">Domicilio</label>
                                    <input disabled type="text" class="form-control form-control-sm" value="@ViewBag.Pacient.v_AdressLocation" />
                                </div>
                                <div class="col-12 col-lg-8">
                                    <label class="small">Centro Educativo</label>
                                    <input disabled type="text" class="form-control form-control-sm" value="@ViewBag.Pacient.v_CentroEducativo" />
                                </div>
                                <div class="col-12 col-lg-4">
                                    <label class="small">Hijos Vivos</label>
                                    <input disabled type="text" class="form-control form-control-sm" value="@ViewBag.Pacient.i_NumberLiveChildren" />
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class=" col-12 my-3"></div>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.Pacient.i_Edad <= 64 && ViewBag.Pacient.i_Edad >=18 ? "active show" : "d-none")" id="tab-adulto-tab" data-toggle="tab" href="#tab-adulto" role="tab" aria-controls="tab-adulto" aria-selected="true">Adulto Mayor/Adulto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.Pacient.i_Edad <= 17 && ViewBag.Pacient.i_Edad >=13 ? "active show" : "d-none")" id="tab-adolecente-tab" data-toggle="tab" href="#tab-adolecente" role="tab" aria-controls="tab-adolecente" aria-selected="false">Adolecente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewBag.Pacient.i_Edad <= 12 ? "active show" : "d-none")" id="tab-ninio-tab" data-toggle="tab" href="#tab-ninio" role="tab" aria-controls="tab-ninio" aria-selected="false">Niño</a>
                        </li>
                    </ul>
                    <div class="tab-content col-12 my-3" id="cont-grupo-etario">
                        <div class="tab-pane fade @(ViewBag.Pacient.i_Edad <= 64 && ViewBag.Pacient.i_Edad >=18 ? "active show" : "d-none")" id="tab-adulto" role="tabpanel" aria-labelledby="tab-adulto-tab">
                            <div class="col-12 my-3">
                                <div class="group-box">
                                    <label class="label-group-box">Adulto Mayor / Adulto</label>
                                    <div class="row w-100 mx-0">
                                        <div class="col-12 col-lg-7">
                                            <label class="small">Familiar o Cuidador responsable</label>
                                            <input type="text" class="form-control form-control-sm" value="" />
                                        </div>
                                        <div class="col-12 col-lg-2">
                                            <label class="small">Edad</label>
                                            <input type="text" class="form-control form-control-sm" value="" />
                                        </div>
                                        <div class="col-12 col-lg-3">
                                            <label class="small">Nro Documento (DNI)</label>
                                            <input type="text" class="form-control form-control-sm" value="" />
                                        </div>
                                        <div class="col-12 col-lg-7">
                                            <label class="small">Antecedentes familiares (otros)</label>
                                            <input type="text" class="form-control form-control-sm" value="" />
                                        </div>
                                        <div class="col-12 col-lg-5 solo-femenino  @(ViewBag.Pacient.i_SexTypeId == 1 ? "d-none" : "")">
                                            <label class="small">Flujo Vaginal Patológico</label>
                                            <input type="text" class="form-control form-control-sm" value="" />
                                        </div>
                                        <div class="col-12 col-lg-7">
                                            <label class="small">Medicamento Frecuente(dosis, tiempo de uso u otra observación)</label>
                                            <input type="text" class="form-control form-control-sm" value="" />
                                        </div>
                                        <div class="col-12 col-lg-5">
                                            <label class="small">Reacción Alérgica a medicamentos</label>
                                            <input type="text" class="form-control form-control-sm" value="" />
                                        </div>
                                        <div class="col-12 col-lg-6 pt-3">
                                            <div class="group-box">
                                                <label class="label-group-box">Sexualidad</label>
                                                <div class="row w-100 mx-0">
                                                    <div class="col-12 col-lg-6">
                                                        <label class="small">Inicio RS</label>
                                                        <input type="text" class="form-control form-control-sm" value="" />
                                                    </div>
                                                    <div class="col-12 col-lg-6">
                                                        <label class="small">Número. PS(3 meses)</label>
                                                        <input type="text" class="form-control form-control-sm" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6 pt-3">
                                            <div class="group-box">
                                                <label class="label-group-box">Menarquia</label>
                                                <div class="row w-100 mx-0">
                                                    <div class="col-12 col-lg-6">
                                                        <label class="small">Fecha UR</label>
                                                        <input type="text" class="form-control form-control-sm" value="" />
                                                    </div>
                                                    <div class="col-12 col-lg-6">
                                                        <label class="small">R/C</label>
                                                        <input type="text" class="form-control form-control-sm" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade @(ViewBag.Pacient.i_Edad <= 17 && ViewBag.Pacient.i_Edad >=13 ? "active show" : "d-none")" id="tab-adolecente" role="tabpanel" aria-labelledby="tab-adolecente-tab">
                            <div class="group-box">
                                <label class="label-group-box">Datos del Cuidador</label>
                                <div class="row w-100 mx-0">
                                    <div class="col-12 col-lg-6">
                                        <label class="small">Nombre</label>
                                        <input type="text" class="form-control form-control-sm" value="" />
                                    </div>
                                    <div class="col-12 col-lg-3">
                                        <label class="small">DNI</label>
                                        <input type="text" class="form-control form-control-sm" value="" />
                                    </div>
                                    <div class="col-12 col-lg-3">
                                        <label class="small">Edad</label>
                                        <input type="text" class="form-control form-control-sm" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="group-box mt-3">
                                <label class="label-group-box">Antecedentes Familiares</label>
                                <div class="row w-100 mx-0">
                                    <div class="col-12 col-lg-12">
                                        <label class="small">En caso de no tener referente adulto, indicar con quien vive</label>
                                        <input type="text" class="form-control form-control-sm" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="group-box mt-3">
                                <label class="label-group-box">Antecedentes Laborales</label>
                                <div class="row w-100 mx-0">
                                    <div class="col-12 col-lg-6">
                                        <label class="small">Edad Inicio trabajo</label>
                                        <input type="text" class="form-control form-control-sm" value="" />
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <label class="small">Tipo de trabajo</label>
                                        <input type="text" class="form-control form-control-sm" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="group-box mt-3">
                                <label class="label-group-box">Antecedentes Habitos</label>
                                <div class="row w-100 mx-0">
                                    <div class="col-12 col-lg-6">
                                        <label class="small">Nro. Horas TV</label>
                                        <input type="text" class="form-control form-control-sm" value="" />
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <label class="small">Nro. Horas Video Juegos</label>
                                        <input type="text" class="form-control form-control-sm" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="group-box mt-3">
                                <label class="label-group-box">Menarquia/Espermarquia</label>
                                <div class="row w-100 mx-0">
                                    <div class="col-12 col-lg-6">
                                        <label class="small">Nro. Horas TV</label>
                                        <input type="text" class="form-control form-control-sm" value="" />
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <label class="small">Edad Inicio relación Sexual</label>
                                        <input type="text" class="form-control form-control-sm" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade @(ViewBag.Pacient.i_Edad <= 12 ? "active show" : "d-none")" id="tab-ninio" role="tabpanel" aria-labelledby="tab-ninio-tab">
                            <div style="cursor: pointer; border-radius:0.3rem" class="row table-primary justify-content-between align-items-center p-2 my-1" onclick="$('#row-datos-generales').toggleClass('d-none')">
                                <label class="m-0">DATOS GENERALES FAMILIARES</label>
                                <i class="fas fa-plus"></i>
                            </div>
                            <div class="row d-none mx-0 w-100" id="row-datos-generales">
                                <div class="col-12 col-lg-7">
                                    <label class="small">Madre, Padre o adulto responsable del cuidado del niño(*)</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12 col-lg-2">
                                    <label class="small">Edad</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12 col-lg-3">
                                    <label class="small">DNI</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12 pl-4"><label>(*)INFORMACIÓN PARA PROBLEMAS Y ATENCIONES</label></div>
                                <div class="col-12 col-lg-5">
                                    <label class="small">Nombre y Apellidos Madre o Tutora</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12 col-lg-2">
                                    <label class="small">Edad</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12 col-lg-2">
                                    <label class="small">DNI</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12 col-lg-2">
                                    <label class="small">Afiliación</label>
                                    <select class="custom-select custom-select-sm">
                                        <option value="-1">--Seleccionar--</option>
                                    </select>
                                </div>
                                <div class="col-12 col-lg-2">
                                    <label class="small">Cod. Afiliación</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12 col-lg-3">
                                    <label class="small">Grado Instrucción</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12 col-lg-3">
                                    <label class="small"></label>
                                    <select class="custom-select custom-select-sm">
                                        <option value="-1">--Seleccionar--</option>
                                    </select>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <label class="small">Ocupación</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12 col-lg-3">
                                    <label class="small">Estado Civil</label>
                                    <select class="custom-select custom-select-sm">
                                        <option value="-1">--Seleccionar--</option>
                                    </select>
                                </div>
                                <div class="col-12 col-lg-5">
                                    <label class="small">Religión</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12 col-lg-5">
                                    <label class="small">Nombre y Apellidos Madre o Tutora</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12 col-lg-2">
                                    <label class="small">Edad</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12 col-lg-2">
                                    <label class="small">DNI</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12 col-lg-2">
                                    <label class="small">Afiliación</label>
                                    <select class="custom-select custom-select-sm">
                                        <option value="-1">--Seleccionar--</option>
                                    </select>
                                </div>
                                <div class="col-12 col-lg-2">
                                    <label class="small">Cod. Afiliación</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12 col-lg-3">
                                    <label class="small">Grado Instrucción</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12 col-lg-3">
                                    <label class="small"></label>
                                    <select class="custom-select custom-select-sm">
                                        <option value="-1">--Seleccionar--</option>
                                    </select>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <label class="small">Ocupación</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12 col-lg-3">
                                    <label class="small">Estado Civil</label>
                                    <select class="custom-select custom-select-sm">
                                        <option value="-1">--Seleccionar--</option>
                                    </select>
                                </div>
                                <div class="col-12 col-lg-5">
                                    <label class="small">Religión</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                            </div>
                            <div style="cursor: pointer; border-radius:0.3rem" class="row table-primary justify-content-between align-items-center p-2 my-1" onclick="$('#row-personales-embarazo').toggleClass('d-none')">
                                <label class="m-0">ANTECEDENTES PERSONALES - EMBARAZO - PARTO</label>
                                <i class="fas fa-plus"></i>
                            </div>
                            <div class="row w-100 mx-0 d-none" id="row-personales-embarazo">
                                <div class="col-12">
                                    <label class="small">Patología(s) durante la gestación</label>
                                    <textarea class="form-control form-control-sm" rows="2"></textarea>
                                </div>
                                <div class="col-12 col-lg-3">
                                    <label class="small">N° de Embarazo</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12 col-lg-3">
                                    <label class="small">N° APN</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label class="small">Lugar de APN</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12">
                                    <label class="small">Complicaciones del Parto:</label>
                                    <textarea class="form-control form-control-sm" rows="2"></textarea>
                                </div>
                                <div class="col-12">
                                    <label class="small">Especificar por quien fué atendido</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                            </div>
                            <div style="cursor: pointer; border-radius:0.3rem" class="row table-primary justify-content-between align-items-center p-2 my-1" onclick="$('#row-personales-nacimiento').toggleClass('d-none')">
                                <label class="m-0">ANTECEDENTES PERSONALES - NACIMIENTO - ALIMENTACIÓN - PATOLOGÍAS</label>
                                <i class="fas fa-plus"></i>
                            </div>
                            <div class="row w-100 mx-0 d-none" id="row-personales-nacimiento">
                                <div class="col-12 col-lg-3">
                                    <label class="small">Edad Gest. al Nacer(sem)</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12 col-lg-3">
                                    <label class="small">Peso al nacer(gr)</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12 col-lg-3">
                                    <label class="small">Talla al nacer(cm)</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12 col-lg-3">
                                    <label class="small">Perímetro Cefálico</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label class="small">Tiempo de Hospitalización</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12 col-lg-3">
                                    <label class="small">Perímetro Torácico</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12">
                                    <label class="small">Especificación de Respiración al Nacer</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12">
                                    <label class="small">Inicio de alimentacion Complementaria</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12">
                                    <label class="small">Especificar alergia a medicamentos</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-12">
                                    <label class="small">Especificar otros antecedentes</label>
                                    <input type="text" class="form-control form-control-sm" value="" />
                                </div>
                            </div>
                            <div style="cursor: pointer; border-radius:0.3rem" class="row table-primary justify-content-between align-items-center p-2 my-1" onclick="$('#row-familiares').toggleClass('d-none')">
                                <label class="m-0">ANTECEDENTES FAMILIARES</label>
                                <i class="fas fa-plus"></i>
                            </div>
                            <div class="row w-100 mx-0 d-none" id="row-familiares">
                                <div class="col-3">
                                    <label class="smal">Tuberculosis</label>
                                </div>
                                <div class="col-5">
                                    <input type="text" placeholder="(*)Padre(P), Madre(P), Hno(H), Abuelo/a(A), Otro(O)" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-4">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radio-tbc-si" name="radio-tbc" class="custom-control-input">
                                        <label class="custom-control-label" for="radio-tbc-si">SI</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radio-tbc-no" name="radio-tbc" class="custom-control-input">
                                        <label class="custom-control-label" for="radio-tbc-no">NO</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <label class="smal">ASMA</label>
                                </div>
                                <div class="col-5">
                                    <input type="text" placeholder="(*)Padre(P), Madre(P), Hno(H), Abuelo/a(A), Otro(O)" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-4">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radio-asma-si" name="radio-asma" class="custom-control-input">
                                        <label class="custom-control-label" for="radio-asma-si">SI</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radio-asma-no" name="radio-asma" class="custom-control-input">
                                        <label class="custom-control-label" for="radio-asma-no">NO</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <label class="smal">VIH-SIDA</label>
                                </div>
                                <div class="col-5">
                                    <input type="text" placeholder="(*)Padre(P), Madre(P), Hno(H), Abuelo/a(A), Otro(O)" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-4">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radio-sida-si" name="radio-sida" class="custom-control-input">
                                        <label class="custom-control-label" for="radio-sida-si">SI</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radio-sida-no" name="radio-sida" class="custom-control-input">
                                        <label class="custom-control-label" for="radio-sida-no">NO</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <label class="smal">Diabetes</label>
                                </div>
                                <div class="col-5">
                                    <input type="text" placeholder="(*)Padre(P), Madre(P), Hno(H), Abuelo/a(A), Otro(O)" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-4">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radio-diabetes-si" name="radio-diabetes" class="custom-control-input">
                                        <label class="custom-control-label" for="radio-diabetes-si">SI</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radio-diabetes-no" name="radio-diabetes" class="custom-control-input">
                                        <label class="custom-control-label" for="radio-diabetes-no">NO</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <label class="smal">Epilepsia</label>
                                </div>
                                <div class="col-5">
                                    <input type="text" placeholder="(*)Padre(P), Madre(P), Hno(H), Abuelo/a(A), Otro(O)" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-4">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radio-epilepsia-si" name="radio-epilepsia" class="custom-control-input">
                                        <label class="custom-control-label" for="radio-epilepsia-si">SI</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radio-epilepsia-no" name="radio-epilepsia" class="custom-control-input">
                                        <label class="custom-control-label" for="radio-epilepsia-no">NO</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <label class="smal">Alergias a medicinas</label>
                                </div>
                                <div class="col-5">
                                    <input type="text" placeholder="(*)Padre(P), Madre(P), Hno(H), Abuelo/a(A), Otro(O)" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-4">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radio-alergia-si" name="radio-alergia" class="custom-control-input">
                                        <label class="custom-control-label" for="radio-alergia-si">SI</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radio-alergia-no" name="radio-alergia" class="custom-control-input">
                                        <label class="custom-control-label" for="radio-alergia-no">NO</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <label class="smal">Violencia Familiar</label>
                                </div>
                                <div class="col-5">
                                    <input type="text" placeholder="(*)Padre(P), Madre(P), Hno(H), Abuelo/a(A), Otro(O)" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-4">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radio-violencia-si" name="radio-violencia" class="custom-control-input">
                                        <label class="custom-control-label" for="radio-violencia-si">SI</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radio-violencia-no" name="radio-violencia" class="custom-control-input">
                                        <label class="custom-control-label" for="radio-violencia-no">NO</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <label class="smal">Alcoholismo</label>
                                </div>
                                <div class="col-5">
                                    <input type="text" placeholder="(*)Padre(P), Madre(P), Hno(H), Abuelo/a(A), Otro(O)" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-4">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radio-alcoholismo-si" name="radio-alcoholismo" class="custom-control-input">
                                        <label class="custom-control-label" for="radio-alcoholismo-si">SI</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radio-alcoholismo-no" name="radio-alcoholismo" class="custom-control-input">
                                        <label class="custom-control-label" for="radio-alcoholismo-no">NO</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <label class="smal">Drogadicción</label>
                                </div>
                                <div class="col-5">
                                    <input type="text" placeholder="(*)Padre(P), Madre(P), Hno(H), Abuelo/a(A), Otro(O)" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-4">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radio-drogadiccion-si" name="radio-drogadiccion" class="custom-control-input">
                                        <label class="custom-control-label" for="radio-drogadiccion-si">SI</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radio-drogadiccion-no" name="radio-drogadiccion" class="custom-control-input">
                                        <label class="custom-control-label" for="radio-drogadiccion-no">NO</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <label class="smal">Hepatitis B.</label>
                                </div>
                                <div class="col-5">
                                    <input type="text" placeholder="(*)Padre(P), Madre(P), Hno(H), Abuelo/a(A), Otro(O)" class="form-control form-control-sm" value="" />
                                </div>
                                <div class="col-4">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radio-hepatitis-si" name="radio-hepatitis" class="custom-control-input">
                                        <label class="custom-control-label" for="radio-hepatitis-si">SI</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="radio-hepatitis-no" name="radio-hepatitis" class="custom-control-input">
                                        <label class="custom-control-label" for="radio-hepatitis-no">NO</label>
                                    </div>
                                </div>
                            </div>
                            <div style="cursor: pointer; border-radius:0.3rem" class="row table-primary justify-content-between align-items-center p-2 my-1" onclick="$('#row-vivienda').toggleClass('d-none')">
                                <label class="m-0">ANTECEDENTES VIVIENDA/SANEAMIENTO BÁSICO</label>
                                <i class="fas fa-plus"></i>
                            </div>
                            <div class="row w-100 mx-0 d-none" id="row-vivienda">
                                <div class="col-12">
                                    <label class="small">Especificaciones de Agua Potable</label>
                                    <textarea class="form-control form-control-sm" rows="2"></textarea>
                                </div>
                                <div class="col-12">
                                    <label class="small">Especificaciónes de Desagüe</label>
                                    <textarea class="form-control form-control-sm" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12 solo-femenino my-3 @(ViewBag.Pacient.i_SexTypeId == 1 ? "d-none" : "")">

                        <div class="row w-100 mx-0">
                            <div class="col-12 col-lg-3">
                                <label class="small">Embarazo</label>
                                <input type="text" class="form-control form-control-sm" value="" />
                            </div>
                            <div class="col-12 col-lg-3">
                                <label class="small">Nro. Prematuro</label>
                                <input type="text" class="form-control form-control-sm" value="" />
                            </div>
                            <div class="col-12 col-lg-3">
                                <label class="small">Nro. Aborto</label>
                                <input type="text" class="form-control form-control-sm" value="" />
                            </div>
                        </div>

                        <div id="" class="overflow-hidden p-1" style="width:100% !important; box-shadow: -5px 5px 8px #bebcbc; border-radius:0.3rem">
                            <div class="box box-info mt-2 mb-0">
                                <div class="scroll-css" style="overflow:scroll; height: 200px;">
                                    <table class="table table-sm table-hover" id="table-examenes">
                                        <thead>
                                            <tr>
                                                <th nowrap scope="col" class="d-none">EmabarazoId</th>
                                                <th nowrap scope="col">Año</th>
                                                <th nowrap scope="col">CPN</th>
                                                <th nowrap scope="col">Complicación</th>
                                                <th nowrap scope="col">Parto</th>
                                                <th nowrap scope="col">Peso RN</th>
                                                <th nowrap scope="col">Puerpio</th>
                                            </tr>
                                        </thead>
                                        <tbody id="body-embarazos">
                                            @{

                                                if (ViewBag.AntecedentesEmbarazo == null)
                                                {
                                                    <tr class="error-servidor"><td colspan="16" class="text-center">Sucedió un error en el servidor</td></tr>
                                                }
                                                else if (ViewBag.AntecedentesEmbarazo.Count == 0)
                                                {
                                                    <tr class="error-servidor"><td colspan="16" class="text-center">No hay resultados</td></tr>
                                                }
                                                else
                                                {
                                                    foreach (var item in ViewBag.AntecedentesEmbarazo)
                                                    {
                                                    <tr class="text-center">
                                                        <td nowrap class="d-none">@item.EmbarazoId</td>
                                                        <td nowrap>@item.Anio</td>
                                                        <td nowrap>@item.Cpn</td>
                                                        <td nowrap>@item.Complicacion</td>
                                                        <td nowrap>@item.Parto</td>
                                                        <td nowrap>@item.PesoRn</td>
                                                        <td nowrap>@item.Puerpio</td>
                                                    </tr>
                                                    }
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="row w-100 mx-0 justify-content-end">
                            <button disabled class="btn btn-sm btn-secondary m-2">Editar</button>
                            <button class="btn btn-sm btn-success m-2" data-toggle="modal" data-target="#modalNuevoEmabarazo">Nuevo</button>
                            <button disabled class="btn btn-sm btn-danger m-2">Eliminar</button>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="container-fluid" style="padding:0px;">
                            <div class="box box-info mt-2 mb-0" id="acordion">
                                <div class="box-header with-border" id="heading1">
                                    <h3 class="box-title" style="cursor:pointer;"><i class="icon-list-numbered"></i>Antecedentes Actuales</h3>
                                </div>
                            </div>
                        </div>
                        <div id="contBoardAntecedentesActuales" class="overflow-hidden p-1" style="width:100% !important; box-shadow: -5px 5px 8px #bebcbc; border-radius:0.3rem">
                            <div class="box box-info mt-2 mb-0">
                                <div class="scroll-css" style="overflow:scroll; height: 400px;">
                                    <table class="table table-sm table-hover" id="table-examenes">
                                        <thead>
                                            <tr class="text-center">
                                                <th nowrap scope="col" colspan="3">Enfermedades</th>
                                            </tr>
                                        </thead>
                                        <tbody id="body-antecedentes-actual">
                                            @if (ViewBag.AtencedentesEso == null)
                                            {
                                                <tr><td nowrap class="text-center" colspan="3">Error en el servidor</td></tr>
                                            }
                                            else if (ViewBag.AtencedentesEso.AntecedenteActual.Count == 0)
                                            {
                                                <tr><td nowrap class="text-center" colspan="3">Error en el servidor</td></tr>
                                            }
                                            else
                                            {
                                                foreach (var actual in ViewBag.AtencedentesEso.AntecedenteActual)
                                                {
                                                    <tr onclick="$('.row-children-@actual.GrupoId-@actual.ParametroId').toggleClass('d-none')" id="row-padre-@actual.GrupoId-@actual.ParametroId" data-grupo="@actual.GrupoId" data-parametro="@actual.ParametroId" class="table-secondary"><td colspan="3"><i class="fas mr-2 fa-plus" style="cursor:pointer"></i>@actual.Nombre</td></tr>
                                                    <tr class="d-none row-children-@actual.GrupoId-@actual.ParametroId">
                                                        <td nowrap class="text-center">Nombre</td>
                                                        <td nowrap class="text-center">SI</td>
                                                        <td nowrap class="text-center">NO</td>
                                                    </tr>
                                                    var index = 0;
                                                    foreach (var hijo in actual.Hijos)
                                                    {
                                                        <tr class="d-none row-children-@actual.GrupoId-@actual.ParametroId" data-grupopadre="@actual.GrupoId" data-parametropadre="@actual.ParametroId">
                                                            <td nowrap>@hijo.Nombre</td>
                                                            <td nowrap class="text-center"><input type="radio" @(hijo.SI == true ? "checked" : "") data-radio="1" class="radio-actual" name="radio-actual-@actual.GrupoId-@actual.ParametroId-@index" value="" /></td>
                                                            <td nowrap class="text-center"><input type="radio" @(hijo.NO == true ? "checked" : "") data-radio="0" class="radio-actual" name="radio-actual-@actual.GrupoId-@actual.ParametroId-@index" value="" /></td>
                                                            <td nowrap class="d-none">@hijo.GrupoId</td>
                                                            <td nowrap class="d-none">@hijo.ParametroId</td>
                                                            <td nowrap class="d-none">@actual.Nombre</td>
                                                        </tr>
                                                        index++;
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="container-fluid" style="padding:0px;">
                            <div class="box box-info mt-2 mb-0" id="acordion">
                                <div class="box-header with-border" id="heading1">
                                    <h3 class="box-title" style="cursor:pointer;"><i class="icon-list-numbered"></i>Antecedentes Anteriores</h3>
                                </div>
                            </div>
                        </div>
                        <div id="contBoardAntecedentesAnteriores" class="overflow-hidden p-1" style="width:100% !important; box-shadow: -5px 5px 8px #bebcbc; border-radius:0.3rem">
                            <div class="box box-info mt-2 mb-0">
                                <div class="scroll-css" style="overflow:scroll; height: 400px;">
                                    <table class="table table-sm table-hover" id="table-examenes">
                                        <thead>
                                            <tr class="text-center">
                                                <th nowrap scope="col" colspan="3">Enfermedades</th>
                                            </tr>
                                        </thead>
                                        <tbody id="body-antecedentes-anterior">
                                            @if (ViewBag.AtencedentesEso == null)
                                            {
                                                <tr><td nowrap class="text-center" colspan="3">Error en el servidor</td></tr>
                                            }
                                            else if (ViewBag.AtencedentesEso.AntecedenteAnterior.Count == 0)
                                            {
                                                <tr><td nowrap class="text-center" colspan="3">Error en el servidor</td></tr>
                                            }
                                            else
                                            {
                                                foreach (var anterior in ViewBag.AtencedentesEso.AntecedenteAnterior)
                                                {
                                                    <tr onclick="$('.row-anteriores-children-@anterior.GrupoId-@anterior.ParametroId').toggleClass('d-none')" id="row-padre-@anterior.GrupoId-@anterior.ParametroId" data-grupo="@anterior.GrupoId" data-parametro="@anterior.ParametroId" class="table-secondary"><td colspan="3"><i class="fas mr-2 fa-plus" style="cursor:pointer"></i>@anterior.Nombre</td></tr>
                                                    <tr class="d-none row-anteriores-children-@anterior.GrupoId-@anterior.ParametroId">
                                                        <td nowrap class="text-center">Nombre</td>
                                                        <td nowrap class="text-center">SI</td>
                                                        <td nowrap class="text-center">NO</td>
                                                    </tr>
                                                    var index = 0;
                                                    foreach (var hijo in anterior.Hijos)
                                                    {
                                                        <tr class="d-none row-anteriores-children-@anterior.GrupoId-@anterior.ParametroId">
                                                            <td nowrap>@hijo.Nombre</td>
                                                            <td nowrap class="text-center"><input type="radio" @(hijo.SI == true ? "checked" : "") name="radio-anterior-@anterior.GrupoId-@anterior.ParametroId-@index" value="" /></td>
                                                            <td nowrap class="text-center"><input type="radio" @(hijo.NO == true ? "checked" : "") name="radio-anterior-@anterior.GrupoId-@anterior.ParametroId-@index" value="" /></td>
                                                            <td nowrap class="d-none">@hijo.GrupoId</td>
                                                            <td nowrap class="d-none">@hijo.ParametroId</td>
                                                        </tr>
                                                        index++;
                                                    }
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer row w-100 mx-0 justify-content-between p-2">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btn-guardar-antecedentes">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modalPreventivos" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row mx-0">
                    <div class="col-12">
                        <div class="container-fluid" style="padding:0px;">
                            <div class="box box-info mt-2 mb-0" id="acordion">
                                <div class="box-header with-border" id="heading1">
                                    <h3 class="box-title" style="cursor:pointer;"><i class="icon-list-numbered"></i>CUIDADOS PREVENTIVOS</h3>
                                </div>
                            </div>
                        </div>
                        <div id="contBoardProblemasCronicos" class="overflow-hidden p-1" style="width:100% !important; box-shadow: -5px 5px 8px #bebcbc; border-radius:0.3rem">
                            <div class="box box-info mt-2 mb-0">
                                <div class="scroll-css" style="overflow:scroll; height: 500px;">
                                    <table class="table table-sm table-hover" id="table-examenes">
                                        <thead>
                                            <tr class="text-center">
                                                <th nowrap scope="col">Nombre</th>
                                                @if (ViewBag.DataCuidadosPreventivos != null)
                                                {
                                                    foreach (var item in ViewBag.DataCuidadosPreventivos)
                                                    {
                                                        <th nowrap scope="col">@item.FechaServicio.ToShortDateString()</th>
                                                    }
                                                }
                                                <th nowrap scope="col">Comentario</th>
                                            </tr>
                                        </thead>
                                        <tbody id="body-update-additional">

                                            @if (ViewBag.DataCuidadosPreventivos != null)
                                            {

                                                foreach (var item in ViewBag.DataCuidadosPreventivos)
                                                {
                                                    foreach (var padre in item.Listado)
                                                    {
                                                        <tr>
                                                            <td nowrap style="font-size: 1.0rem; font-weight: bold" data-grupo="@padre.GrupoId" data-parametro="@padre.ParameterId" colspan="16">@padre.Nombre</td>
                                                        </tr>
                                                        foreach (var hijo in padre.Hijos)
                                                        {
                                                        <tr>
                                                            <td nowrap style="font-size: 0.7rem">@hijo.Nombre</td>
                                                            <td nowrap class=""><input type="checkbox" data-grupo="@padre.GrupoId" data-parametro="@padre.ParameterId" data-fecha="@item.FechaServicio" @(hijo.Valor == true ? "checked" : "")></td>
                                                            @for (int i = 1; i < ViewBag.DataCuidadosPreventivos.Count; i++)
                                                            {
                                                                foreach (var nextPadre in ViewBag.DataCuidadosPreventivos[i].Listado)
                                                                {
                                                                    if (nextPadre.GrupoId == padre.GrupoId && nextPadre.ParameterId == padre.ParameterId)
                                                                    {
                                                                        foreach (var nextHijo in nextPadre.Hijos)
                                                                        {
                                                                            if (hijo.GrupoId == nextHijo.GrupoId && hijo.ParameterId == nextHijo.ParameterId)
                                                                            {
                                                                                <td nowrap class=""><input type="checkbox" data-grupo="@padre.GrupoId" data-parametro="@padre.ParameterId" data-fecha="@ViewBag.DataCuidadosPreventivos[i].FechaServicio" @(nextHijo.Valor == true ? "checked" : "")></td>
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        </tr>
                                                        }
                                                        
                                                    }
                                                    break;
                                                }

                                            }

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalIntegral" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row mx-0">
                    <div class="col-12 col-lg-6">
                        <div class="container-fluid" style="padding:0px;">
                            <div class="box box-info mt-2 mb-0" id="acordion">
                                <div class="box-header with-border" id="heading1">
                                    <h3 class="box-title" style="cursor:pointer;"><i class="icon-list-numbered"></i>PROBLEMAS CRÓNICOS</h3>
                                </div>
                            </div>
                        </div>
                        <div id="contBoardProblemasCronicos" class="overflow-hidden p-1" style="width:100% !important; box-shadow: -5px 5px 8px #bebcbc; border-radius:0.3rem">
                            <div class="box box-info mt-2 mb-0">
                                <div class="scroll-css" style="overflow:scroll; height: 300px;">
                                    <table class="table table-sm table-hover" id="table-examenes">
                                        <thead>
                                            <tr class="text-center">
                                                <th nowrap scope="col" class="d-none">v_ProblemaId</th>
                                                <th nowrap scope="col">Fecha</th>
                                                <th nowrap scope="col">Problema Crónico</th>
                                                <th nowrap scope="col">¿Es Controlado?</th>
                                                <th nowrap scope="col">Observación</th>
                                            </tr>
                                        </thead>
                                        <tbody id="body-cronico">
                                            @if (ViewBag.Problemas == null)
                                            {
                                                <tr>
                                                    <td nowrap colspan="16" class="text-center">Sucedió un error en el servidor</td>
                                                </tr>
                                            }
                                            else if (ViewBag.Problemas.Count == 0)
                                            {
                                                <tr>
                                                    <td nowrap colspan="16" class="text-center">No se encontraron resultados</td>
                                                </tr>
                                            }
                                            else
                                            {
                                                foreach (var pro in ViewBag.Problemas)
                                                {
                                                    if (pro.i_Tipo == 1)
                                                    {
                                                        <tr>
                                                            <td nowrap class="d-none">@pro.v_ProblemaId</td>
                                                            <td nowrap>@pro.d_Fecha.ToShortDateString()</td>
                                                            <td nowrap>@pro.v_Descripcion</td>
                                                            <td nowrap>@pro.v_EsControlado</td>
                                                            <td nowrap>@pro.v_Observacion</td>
                                                        </tr>
                                                    }
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                                <div class="row w-100 mx-0 justify-content-end p-2">
                                    <button class="btn btn-sm btn-success ml-1" id="nuevo-problema-cronico">Agregar</button>
                                    <button class="btn btn-sm btn-warning mx-1">Editar</button>
                                    <button class="btn btn-sm btn-danger mx-1">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="container-fluid" style="padding:0px;">
                            <div class="box box-info mt-2 mb-0" id="acordion">
                                <div class="box-header with-border" id="heading1">
                                    <h3 class="box-title" style="cursor:pointer;"><i class="icon-list-numbered"></i>PROBLEMAS AGUDOS</h3>
                                </div>
                            </div>
                        </div>
                        <div id="contBoardProblemasAgudos" class="overflow-hidden p-1" style="width:100% !important; box-shadow: -5px 5px 8px #bebcbc; border-radius:0.3rem">
                            <div class="box box-info mt-2 mb-0">
                                <div class="scroll-css" style="overflow:scroll; height: 300px;">
                                    <table class="table table-sm table-hover" id="table-examenes">
                                        <thead>
                                            <tr class="text-center">
                                                <th nowrap scope="col" class="d-none">ProblemaId</th>
                                                <th nowrap scope="col">Fecha</th>
                                                <th nowrap scope="col">Problema Agudo</th>
                                                <th nowrap scope="col">Observación</th>
                                            </tr>
                                        </thead>
                                        <tbody id="body-update-additional">
                                            @if (ViewBag.Problemas == null)
                                            {
                                                <tr>
                                                    <td nowrap colspan="16" class="text-center">Sucedió un error en el servidor</td>
                                                </tr>
                                            }
                                            else if (ViewBag.Problemas.Count == 0)
                                            {
                                                <tr>
                                                    <td nowrap colspan="16" class="text-center">No se encontraron resultados</td>
                                                </tr>
                                            }
                                            else
                                            {
                                                foreach (var pro in ViewBag.Problemas)
                                                {
                                                    if (pro.i_Tipo == 2)
                                                    {
                                                        <tr>
                                                            <td nowrap class="d-none">@pro.v_ProblemaId</td>
                                                            <td nowrap>@pro.d_Fecha</td>
                                                            <td nowrap>@pro.v_Descripcion</td>
                                                            <td nowrap>@pro.v_Observacion</td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row w-100 mx-0 justify-content-end p-2">
                                    <button class="btn btn-sm btn-success ml-1" id="nuevo-problema-agudo">Agregar</button>
                                    <button class="btn btn-sm btn-warning mx-1">Editar</button>
                                    <button class="btn btn-sm btn-danger mx-1">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="container-fluid" style="padding:0px;">
                            <div class="box box-info mt-2 mb-0" id="acordion">
                                <div class="box-header with-border" id="heading1">
                                    <h3 class="box-title" style="cursor:pointer;"><i class="icon-list-numbered"></i>PLAN DE ATENCIÓN INTEGRAL</h3>
                                </div>
                            </div>
                        </div>
                        <div id="contBoardPlanIntegral" class="overflow-hidden p-1" style="width:100% !important; box-shadow: -5px 5px 8px #bebcbc; border-radius:0.3rem">
                            <div class="box box-info mt-2 mb-0">
                                <div class="scroll-css" style="overflow:scroll; height: 300px;">
                                    <table class="table table-sm table-hover" id="table-examenes">
                                        <thead>
                                            <tr class="text-center">
                                                <th nowrap scope="col" class="d-none">Id</th>
                                                <th nowrap scope="col">Tipo</th>
                                                <th nowrap scope="col">Fecha</th>
                                                <th nowrap scope="col">Descripción</th>
                                                <th nowrap scope="col">Lugar</th>
                                            </tr>
                                        </thead>
                                        <tbody id="body-update-additional">
                                            @if (ViewBag.PlanIntegral == null)
                                            {
                                                <tr><td nowrap colspan="5" class="text-center">Sucedió un error en el servidor</td></tr>
                                            }
                                            else if (ViewBag.PlanIntegral.Count == 0)
                                            {
                                                <tr><td nowrap colspan="5" class="text-center">No se encontraron resultados</td></tr>
                                            }
                                            else
                                            {
                                                foreach (var item in ViewBag.PlanIntegral)
                                                {
                                                    <tr class="text-center">
                                                        <td nowrap class="d-none">@item.v_PlanIntegral</td>
                                                        <td nowrap>@item.v_Tipo</td>
                                                        <td nowrap>@item.d_Fecha.ToShortDateString()</td>
                                                        <td nowrap>@item.v_Descripcion</td>
                                                        <td nowrap>@item.v_Lugar</td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                                <div class="row w-100 mx-0 justify-content-end p-2">
                                    <button class="btn btn-sm btn-success ml-1" id="nuevo-plan-integral">Agregar</button>
                                    <button class="btn btn-sm btn-warning mx-1">Editar</button>
                                    <button class="btn btn-sm btn-danger mx-1">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalNuevoEmabarazo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Detalle del Embarazo</h5>
            </div>
            <div class="modal-body">
                <div class="row w-100 mx-0 mt-3 justify-content-between">
                    <div class="col-12">
                        <label class="small">Año</label>
                        <input type="text" class="form-control form-control-sm" id="embarazo-anio" value="" />
                    </div>
                    <div class="col-12">
                        <label class="small">CPN</label>
                        <input type="text" class="form-control form-control-sm" id="embarazo-cpn" value="" />
                    </div>
                    <div class="col-12">
                        <label class="small">Complicación</label>
                        <input type="text" class="form-control form-control-sm" id="embarazo-complicacion" value="" />
                    </div>
                    <div class="col-12">
                        <label class="small">Parto</label>
                        <input type="text" class="form-control form-control-sm" id="embarazo-parto" value="" />
                    </div>
                    <div class="col-12">
                        <label class="small">Peso RN</label>
                        <input type="text" class="form-control form-control-sm" id="embarazo-peso" value="" />
                    </div>
                    <div class="col-12">
                        <label class="small">Puerperio</label>
                        <input type="text" class="form-control form-control-sm" id="embarazo-puerperio" value="" />
                    </div>
                </div>
            </div>
            <div class="modal-footer row w-100 mx-0 justify-content-between p-2">
                <button class="btn btn-sm btn-secondary" data-dismiss="modal">Salir</button>
                <button class="btn btn-sm btn-primary" id="guardar-embarazo">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalProblemaPlan" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="tipo-popup"></h5>
            </div>
            <div class="modal-body">
                <div class="row w-100 mx-0 mt-3 justify-content-between">
                    <div class="col-12">
                        <label class="small">Tipo</label>
                        <input type="text" class="form-control form-control-sm" id="prob-tipo" value="" />
                    </div>
                    <div class="col-12">
                        <label class="small">Fecha</label>
                        <input type="date" class="form-control form-control-sm" id="prob-fecha" value="" />
                    </div>
                    <div class="col-12">
                        <label class="small">Problema</label>
                        <input type="text" class="form-control form-control-sm" id="prob-problema" value="" />
                    </div>
                    <div class="col-12">
                        <label class="small">¿Es controlado?</label>
                        <input type="text" class="form-control form-control-sm" id="prob-controlado" value="" />
                    </div>
                    <div class="col-12">
                        <label class="small">Observaciones</label>
                        <input type="text" class="form-control form-control-sm" id="prob-observacion" value="" />
                    </div>
                    <div class="col-12">
                        <label class="small">Lugar</label>
                        <input type="text" class="form-control form-control-sm" id="prob-lugar" value="" />
                    </div>
                </div>
            </div>
            <div class="modal-footer row w-100 mx-0 justify-content-between p-2">
                <button class="btn btn-sm btn-secondary" data-dismiss="modal">Salir</button>
                <button class="btn btn-sm btn-primary" id="guardar-problema">Guardar</button>
            </div>
        </div>
    </div>
</div>
